div {
  background-color: aqua;

  font-size: 16px;
}

div:hover {
  background-color: red;
}

.box {
  width: 150px;
  height: 150px;
  margin: 5px;
}
#item,
p {
  color: brown;
}
div p {
  background-color: yellow;
  color: blue;
}
span {
  background-color: crimson;
}
