div{
    background-color: red;
    width: 500px;
    height: 500px;
    opacity: 0.8;
    background-image: url("../img/acfbe9979332a4bab9cec3485f678f61_ce_1080x673x0x0_cropped_960x600.jpg");
    background-repeat: round;

}